<div class="checkoutForm">
    <div class="image_container">
        <img src="assets/checkoutFormImage.jpg" alt="the image alt" >
    </div>
    <div class="paymentTitle" style="margin-bottom: 1em;">Payment Info</div>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" style="margin: 1em;margin: auto; width: 80%;padding-bottom: 1em;">


        <div style="margin:1em;">
            <label for="fullName">Full Name: </label>
        </div>
        <div>
            <input pInputText placeholder="Your Name" id="fullName" type="text" formControlName="fullName" [ngClass]="{'ng-invalid ng-dirty' : fullName.invalid && (fullName.dirty || fullName.touched) }" >
        </div>
        <small  [style.visibility]="fullName.invalid && (fullName.dirty || fullName.touched)?'visible':'hidden'" id="fullname-help" class="p-error block">Full name required</small>
        


        <div>
            <label for="cardNumber">Card Number: </label>
        </div>
        <div>
            <span class="p-input-icon-right">
                <i class="pi pi-credit-card"></i>
                <input pInputText placeholder="1234 1234 1234 1234" maxlength="16" id="cardNumber" type="text" formControlName="cardNumber" [ngClass]="{'ng-invalid ng-dirty' : cardNumber.invalid && (cardNumber.dirty || cardNumber.touched) }" >
            </span>
        </div>
        <small [style.visibility]="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)?'visible':'hidden'" id="cardNumber-help" class="p-error block">Invalid credit card </small>
        


        <div class="grid" style="width: 100%;">
            <div class="col">
                <label for="expirationDate">Expiration: </label>

                <div style="margin: 0.1em;">
                    <p-inputMask id="expirationDate" styleClass="inputClass"   formControlName="expirationDate" mask="99/99" placeholder="MM/YY" [ngClass]="{'ng-invalid ng-dirty' : expirationDate.invalid && (expirationDate.dirty || expirationDate.touched) }"></p-inputMask>
                    <small [style.visibility]="expirationDate.invalid && (expirationDate.dirty || expirationDate.touched)?'visible':'hidden'" id="expiration-help" class="p-error block">Invalid expiration date </small>

                </div>
            </div>
            <div class="col">
                <label for="cvv">CVV: </label>

                <div style="margin: 0.1em;">
                    <span class="p-input-icon-right">
                        <i class="pi pi-info-circle" title="Your 3-4 digit code in the back of your card"></i>
                        <input pInputText placeholder="&#9679;&#9679;&#9679;" maxlength="4" id="cvv" type="password" formControlName="cvv" [ngClass]="{'ng-invalid ng-dirty' : cvv.invalid && (cvv.dirty || cvv.touched) }" >
                    </span>
                    <small [style.visibility]="cvv.invalid && (cvv.dirty || cvv.touched)?'visible':'hidden'" id="cvv-help" class="p-error block">Invalid CVV </small>

                </div>
            </div>
        </div>
        <div >
            <label for="zipcode">ZipCode: </label>
        </div>
        <div>
            <input pInputText placeholder="Your Name" id="zipcode" type="text" formControlName="zipcode" [ngClass]="{'ng-invalid ng-dirty' : zipcode.invalid && (zipcode.dirty || zipcode.touched) }" >
        </div>
        <small [style.visibility]="zipcode.invalid && (zipcode.dirty || zipcode.touched)?'visible':'hidden'" id="zipcode-help" class="p-error block">Zipcode required</small>
        
        <div style="margin-top: 1em;">
            <button id="submit" pButton class="submitButton" [disabled]="!checkoutForm.valid" type="submit" label="Confirm Payment" icon="pi pi-check" iconPos="left"></button>   
        </div>
        <div>
            <small style="color:gray">You verify that this info is correct</small>
        </div>
    </form>
</div>
<!--width="500" height="600 6B38DF"-->